.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f8e8;
    width: 100%;
    height: 100vh;
    background-size: cover;
    flex-direction: column;
  }

  .navBar{
    
    width: 100%;
    border: solid 1px orange;
   
  }